<h1>Welcome to Battle!</h1>
<h2>Please enter your names to begin.</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="Player_1" placeholder="Enter name" />
  </label>
  <p></p>
  <label for="player_2_name">
    Player 2 name
<input type="text" name="Player_2" placeholder="Enter name" />
  </label>
  <p></p>
  <input type="submit" value="Submit" />
</form>
