Welcome to Battle! Please enter your names to begin.
<form action="/start" method="post">
  <input type="text" name="Player_1" placeholder="Player 1 name">
  <input type="text" name="Player_2" placeholder="Player 2 name">
  <input type="submit" value="Submit">
</form>
